{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Sign In{% endblock %}
{% block jsext %}

    <style type="text/css">

      .form-signin {
        padding: 19px 29px 29px;
        margin: 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>

<script type="text/javascript">
    $(document).ready(function() {
        // some javascript could run here
    });
</script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-offset-3 col-md-6">
      <form class="form-signin" method="post" action="{% url "django.contrib.auth.views.login" %}">
          {% csrf_token %}
          <h2 class="form-signin-heading">Please sign in:</h2>
          <br />
          {% if form.errors %}
          <p class="">Your username and password didn't match. Please try again.</p>
          {% endif %}
          <input type="text" class="input-block-level" name="username" placeholder="Username">
          <input type="password" class="input-block-level" name="password" placeholder="Password">
          <input type="hidden" name="next" value="{{next}}" />
          <br />
          <button class="btn btn-primary" type="submit">Sign In</button>

          
          <br />
          <h4>Don't have an account? <a href="{% url "register" %}">Sign up!</a></h4>
          <h4>Forgot your Password? <a href="{% url "password_reset" %}">Recover password!</a></h4>
      </form>
    </div>
</div>


{% endblock %}
